/*!
 * Pie chart styles
 */
/* ==========================================================================
   Configuration
   ========================================================================== */
/* ==========================================================================
   Base
   ========================================================================== */
/* ==========================================================================
   Typography
   ========================================================================== */
/* ==========================================================================
   Colour wheel
   ========================================================================== */
/* ==========================================================================
	 Colour
	 ========================================================================== */
/* Basic colour wheel classes */
@import url(https://fonts.googleapis.com/css?family=Lato:300,400);
.fm-datum-color-wheel-a {
  fill: #ECB53E; }
  .fm-datum-color-wheel-a.with-stroke {
    stroke: #ECB53E; }
  .fm-datum-color-wheel-a.no-fill {
    fill: none; }

.fm-datum-color-wheel-b {
  fill: #8AC37E; }
  .fm-datum-color-wheel-b.with-stroke {
    stroke: #8AC37E; }
  .fm-datum-color-wheel-b.no-fill {
    fill: none; }

.fm-datum-color-wheel-c {
  fill: #88B25B; }
  .fm-datum-color-wheel-c.with-stroke {
    stroke: #88B25B; }
  .fm-datum-color-wheel-c.no-fill {
    fill: none; }

.fm-datum-color-wheel-d {
  fill: #459C76; }
  .fm-datum-color-wheel-d.with-stroke {
    stroke: #459C76; }
  .fm-datum-color-wheel-d.no-fill {
    fill: none; }

.fm-datum-color-wheel-e {
  fill: #32AFE5; }
  .fm-datum-color-wheel-e.with-stroke {
    stroke: #32AFE5; }
  .fm-datum-color-wheel-e.no-fill {
    fill: none; }

.fm-datum-color-wheel-f {
  fill: #2A7FB9; }
  .fm-datum-color-wheel-f.with-stroke {
    stroke: #2A7FB9; }
  .fm-datum-color-wheel-f.no-fill {
    fill: none; }

.fm-datum-color-wheel-g {
  fill: #385F8C; }
  .fm-datum-color-wheel-g.with-stroke {
    stroke: #385F8C; }
  .fm-datum-color-wheel-g.no-fill {
    fill: none; }

.fm-datum-color-wheel-h {
  fill: #AE74AF; }
  .fm-datum-color-wheel-h.with-stroke {
    stroke: #AE74AF; }
  .fm-datum-color-wheel-h.no-fill {
    fill: none; }

.fm-datum-color-wheel-i {
  fill: #744589; }
  .fm-datum-color-wheel-i.with-stroke {
    stroke: #744589; }
  .fm-datum-color-wheel-i.no-fill {
    fill: none; }

.fm-datum-color-wheel-j {
  fill: #A7305D; }
  .fm-datum-color-wheel-j.with-stroke {
    stroke: #A7305D; }
  .fm-datum-color-wheel-j.no-fill {
    fill: none; }

.fm-datum-color-wheel-k {
  fill: #D03B43; }
  .fm-datum-color-wheel-k.with-stroke {
    stroke: #D03B43; }
  .fm-datum-color-wheel-k.no-fill {
    fill: none; }

.fm-datum-color-wheel-l {
  fill: #DC8336; }
  .fm-datum-color-wheel-l.with-stroke {
    stroke: #DC8336; }
  .fm-datum-color-wheel-l.no-fill {
    fill: none; }

.fm-datum-color-overflow {
  fill: #191919; }
  .fm-datum-color-overflow.with-stroke {
    stroke: #191919; }
  .fm-datum-color-overflow.no-fill {
    fill: none; }

.fm-datum-color-neutral {
  fill: #e4e4e3; }
  .fm-datum-color-neutral.with-stroke {
    stroke: #e4e4e3; }
  .fm-datum-color-neutral.no-fill {
    fill: none; }

/* Colour tint classes */
.fm-datum-color-wheel-a.tint-1 {
  fill: #ecb847; }

.fm-datum-color-wheel-a.tint-2 {
  fill: #edbc51; }

.fm-datum-color-wheel-a.tint-3 {
  fill: #eec05a; }

.fm-datum-color-wheel-a.tint-4 {
  fill: #efc364; }

.fm-datum-color-wheel-a.tint-5 {
  fill: #f0c76e; }

.fm-datum-color-wheel-a.tint-6 {
  fill: #f1cb77; }

.fm-datum-color-wheel-a.tint-7 {
  fill: #f2ce81; }

.fm-datum-color-wheel-a.tint-8 {
  fill: #f3d28b; }

.fm-datum-color-wheel-a.tint-9 {
  fill: #f4d694; }

.fm-datum-color-wheel-a.tint-10 {
  fill: #f5da9e; }

.fm-datum-color-wheel-a.inactive {
  fill: #faeac9; }

.fm-datum-color-wheel-b.tint-1 {
  fill: #8fc684; }

.fm-datum-color-wheel-b.tint-2 {
  fill: #95c98a; }

.fm-datum-color-wheel-b.tint-3 {
  fill: #9bcc91; }

.fm-datum-color-wheel-b.tint-4 {
  fill: #a1cf97; }

.fm-datum-color-wheel-b.tint-5 {
  fill: #a7d29e; }

.fm-datum-color-wheel-b.tint-6 {
  fill: #add5a4; }

.fm-datum-color-wheel-b.tint-7 {
  fill: #b2d8ab; }

.fm-datum-color-wheel-b.tint-8 {
  fill: #b8dbb1; }

.fm-datum-color-wheel-b.tint-9 {
  fill: #bedeb8; }

.fm-datum-color-wheel-b.tint-10 {
  fill: #c4e1be; }

.fm-datum-color-wheel-b.inactive {
  fill: #e9f4e6; }

.fm-datum-color-wheel-c.tint-1 {
  fill: #8db563; }

.fm-datum-color-wheel-c.tint-2 {
  fill: #93b96b; }

.fm-datum-color-wheel-c.tint-3 {
  fill: #99bd73; }

.fm-datum-color-wheel-c.tint-4 {
  fill: #9fc17b; }

.fm-datum-color-wheel-c.tint-5 {
  fill: #a5c584; }

.fm-datum-color-wheel-c.tint-6 {
  fill: #abc98c; }

.fm-datum-color-wheel-c.tint-7 {
  fill: #b1cc94; }

.fm-datum-color-wheel-c.tint-8 {
  fill: #b7d09c; }

.fm-datum-color-wheel-c.tint-9 {
  fill: #bdd4a4; }

.fm-datum-color-wheel-c.tint-10 {
  fill: #c3d8ad; }

.fm-datum-color-wheel-c.inactive {
  fill: #d4e3c3; }

.fm-datum-color-wheel-d.tint-1 {
  fill: #4ea07c; }

.fm-datum-color-wheel-d.tint-2 {
  fill: #57a583; }

.fm-datum-color-wheel-d.tint-3 {
  fill: #60aa8a; }

.fm-datum-color-wheel-d.tint-4 {
  fill: #6aaf91; }

.fm-datum-color-wheel-d.tint-5 {
  fill: #73b498; }

.fm-datum-color-wheel-d.tint-6 {
  fill: #7cb99f; }

.fm-datum-color-wheel-d.tint-7 {
  fill: #86bea5; }

.fm-datum-color-wheel-d.tint-8 {
  fill: #8fc3ac; }

.fm-datum-color-wheel-d.tint-9 {
  fill: #98c8b3; }

.fm-datum-color-wheel-d.tint-10 {
  fill: #a2cdba; }

.fm-datum-color-wheel-d.inactive {
  fill: #a3d7c0; }

.fm-datum-color-wheel-e.tint-1 {
  fill: #3cb3e6; }

.fm-datum-color-wheel-e.tint-2 {
  fill: #46b7e7; }

.fm-datum-color-wheel-e.tint-3 {
  fill: #50bbe8; }

.fm-datum-color-wheel-e.tint-4 {
  fill: #5bbfea; }

.fm-datum-color-wheel-e.tint-5 {
  fill: #65c3eb; }

.fm-datum-color-wheel-e.tint-6 {
  fill: #6fc7ec; }

.fm-datum-color-wheel-e.tint-7 {
  fill: #79cbee; }

.fm-datum-color-wheel-e.tint-8 {
  fill: #84cfef; }

.fm-datum-color-wheel-e.tint-9 {
  fill: #8ed3f0; }

.fm-datum-color-wheel-e.tint-10 {
  fill: #98d7f2; }

.fm-datum-color-wheel-e.inactive {
  fill: #bae4f6; }

.fm-datum-color-wheel-f.tint-1 {
  fill: #3485bc; }

.fm-datum-color-wheel-f.tint-2 {
  fill: #3f8bc0; }

.fm-datum-color-wheel-f.tint-3 {
  fill: #4992c3; }

.fm-datum-color-wheel-f.tint-4 {
  fill: #5498c7; }

.fm-datum-color-wheel-f.tint-5 {
  fill: #5f9fca; }

.fm-datum-color-wheel-f.tint-6 {
  fill: #69a5ce; }

.fm-datum-color-wheel-f.tint-7 {
  fill: #74abd1; }

.fm-datum-color-wheel-f.tint-8 {
  fill: #7fb2d5; }

.fm-datum-color-wheel-f.tint-9 {
  fill: #89b8d8; }

.fm-datum-color-wheel-f.tint-10 {
  fill: #94bfdc; }

.fm-datum-color-wheel-f.inactive {
  fill: #95c6e7; }

.fm-datum-color-wheel-g.tint-1 {
  fill: #416791; }

.fm-datum-color-wheel-g.tint-2 {
  fill: #4b6f97; }

.fm-datum-color-wheel-g.tint-3 {
  fill: #55779d; }

.fm-datum-color-wheel-g.tint-4 {
  fill: #5f7fa3; }

.fm-datum-color-wheel-g.tint-5 {
  fill: #6987a8; }

.fm-datum-color-wheel-g.tint-6 {
  fill: #738fae; }

.fm-datum-color-wheel-g.tint-7 {
  fill: #7d97b4; }

.fm-datum-color-wheel-g.tint-8 {
  fill: #879fba; }

.fm-datum-color-wheel-g.tint-9 {
  fill: #91a7bf; }

.fm-datum-color-wheel-g.tint-10 {
  fill: #9bafc5; }

.fm-datum-color-wheel-g.inactive {
  fill: #8cacd1; }

.fm-datum-color-wheel-h.tint-1 {
  fill: #b27ab3; }

.fm-datum-color-wheel-h.tint-2 {
  fill: #b681b7; }

.fm-datum-color-wheel-h.tint-3 {
  fill: #ba88bb; }

.fm-datum-color-wheel-h.tint-4 {
  fill: #be8fbf; }

.fm-datum-color-wheel-h.tint-5 {
  fill: #c296c3; }

.fm-datum-color-wheel-h.tint-6 {
  fill: #c69dc7; }

.fm-datum-color-wheel-h.tint-7 {
  fill: #caa4cb; }

.fm-datum-color-wheel-h.tint-8 {
  fill: #ceabcf; }

.fm-datum-color-wheel-h.tint-9 {
  fill: #d2b2d3; }

.fm-datum-color-wheel-h.tint-10 {
  fill: #d6b9d7; }

.fm-datum-color-wheel-h.inactive {
  fill: #e7d5e7; }

.fm-datum-color-wheel-i.tint-1 {
  fill: #7a4e8e; }

.fm-datum-color-wheel-i.tint-2 {
  fill: #815794; }

.fm-datum-color-wheel-i.tint-3 {
  fill: #88609a; }

.fm-datum-color-wheel-i.tint-4 {
  fill: #8f6aa0; }

.fm-datum-color-wheel-i.tint-5 {
  fill: #9673a6; }

.fm-datum-color-wheel-i.tint-6 {
  fill: #9d7cac; }

.fm-datum-color-wheel-i.tint-7 {
  fill: #a486b2; }

.fm-datum-color-wheel-i.tint-8 {
  fill: #ab8fb8; }

.fm-datum-color-wheel-i.tint-9 {
  fill: #b298be; }

.fm-datum-color-wheel-i.tint-10 {
  fill: #b9a2c4; }

.fm-datum-color-wheel-i.inactive {
  fill: #bd9bcc; }

.fm-datum-color-wheel-j.tint-1 {
  fill: #ab3a65; }

.fm-datum-color-wheel-j.tint-2 {
  fill: #af446d; }

.fm-datum-color-wheel-j.tint-3 {
  fill: #b44f75; }

.fm-datum-color-wheel-j.tint-4 {
  fill: #b8597d; }

.fm-datum-color-wheel-j.tint-5 {
  fill: #bd6385; }

.fm-datum-color-wheel-j.tint-6 {
  fill: #c16e8d; }

.fm-datum-color-wheel-j.tint-7 {
  fill: #c57895; }

.fm-datum-color-wheel-j.tint-8 {
  fill: #ca829d; }

.fm-datum-color-wheel-j.tint-9 {
  fill: #ce8da5; }

.fm-datum-color-wheel-j.tint-10 {
  fill: #d397ae; }

.fm-datum-color-wheel-j.inactive {
  fill: #df91ae; }

.fm-datum-color-wheel-k.tint-1 {
  fill: #d2444c; }

.fm-datum-color-wheel-k.tint-2 {
  fill: #d44e55; }

.fm-datum-color-wheel-k.tint-3 {
  fill: #d7585f; }

.fm-datum-color-wheel-k.tint-4 {
  fill: #d96268; }

.fm-datum-color-wheel-k.tint-5 {
  fill: #db6c72; }

.fm-datum-color-wheel-k.tint-6 {
  fill: #de757b; }

.fm-datum-color-wheel-k.tint-7 {
  fill: #e07f84; }

.fm-datum-color-wheel-k.tint-8 {
  fill: #e2898e; }

.fm-datum-color-wheel-k.tint-9 {
  fill: #e59397; }

.fm-datum-color-wheel-k.tint-10 {
  fill: #e79da1; }

.fm-datum-color-wheel-k.inactive {
  fill: #eeb6b9; }

.fm-datum-color-wheel-l.tint-1 {
  fill: #dd8940; }

.fm-datum-color-wheel-l.tint-2 {
  fill: #df8f4a; }

.fm-datum-color-wheel-l.tint-3 {
  fill: #e19554; }

.fm-datum-color-wheel-l.tint-4 {
  fill: #e39b5e; }

.fm-datum-color-wheel-l.tint-5 {
  fill: #e4a268; }

.fm-datum-color-wheel-l.tint-6 {
  fill: #e6a872; }

.fm-datum-color-wheel-l.tint-7 {
  fill: #e8ae7c; }

.fm-datum-color-wheel-l.tint-8 {
  fill: #eab486; }

.fm-datum-color-wheel-l.tint-9 {
  fill: #ebba90; }

.fm-datum-color-wheel-l.tint-10 {
  fill: #edc19a; }

.fm-datum-color-wheel-l.inactive {
  fill: #f3d3b8; }

.fm-white-fill {
  fill: white; }

/* ==========================================================================
   Plugin style definitions
   ========================================================================== */
.fm-chart {
  transition: opacity 0.2s; }

.fm-unrendered-chart {
  opacity: 1; }

.fm-hidden {
  display: none; }

.fm-color-scale-key-marker {
  opacity: 1;
  transition: opacity 0.2s; }
  .fm-color-scale-key-marker.hidden {
    opacity: 1; }
  .fm-color-scale-key-marker.secondary {
    fill: white;
    stroke: black;
    stroke-width: 1; }

.fm-color-scale-key-tick-line {
  stroke: #B3B3B3;
  stroke-width: 0.5; }

.fm-color-scale-key-tick-label {
  font-size: 12px;
  font-weight: 100; }
  .fm-color-scale-key-tick-label tspan {
    dominant-baseline: central; }

.fm-choropleth-large-map .fm-choropleth-area {
  cursor: pointer; }
  .fm-choropleth-large-map .fm-choropleth-area.fm-active {
    stroke: black;
    stroke-width: 2; }
  .fm-choropleth-large-map .fm-choropleth-area.fm-highlighted {
    stroke: black;
    stroke-width: 1; }
.fm-choropleth-large-map .fm-choropleth-region,
.fm-choropleth-large-map .fm-choropleth-region .fm-choropleth-area,
.fm-choropleth-large-map .fm-choropleth-region .fm-choropleth-neutral-area {
  cursor: pointer; }
.fm-choropleth-large-map .fm-choropleth-neutral-area {
  cursor: not-allowed; }

.fm-choropleth-neutral-area {
  fill: #A4ADAD; }

.fm-choropleth-thumbnail-map {
  cursor: pointer; }

.fm-choropleth-thumbnail-map-background {
  cursor: pointer;
  stroke: #ABACAB;
  stroke-width: 1;
  fill: white; }

.fm-choropleth-zoom-icon {
  cursor: pointer; }

.fm-tooltip {
  fill: #303432;
  font-weight: 300; }
  .fm-tooltip.fm-secondary {
    fill: white;
    stroke: black;
    stroke-width: 1; }
    .fm-tooltip.fm-secondary text {
      fill: black; }
    .fm-tooltip.fm-secondary ellipse {
      stroke: none; }
  .fm-tooltip text {
    dominant-baseline: central;
    fill: white;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    stroke: none; }

.fm-multi-measure-tooltip .fm-multi-measure-tooltip-title {
  font-weight: 400; }

.fm-key .fm-key-value-title {
  font-family: 'Lato', sans-serif;
  font-size: 12px; }

.fm-key-top-border {
  stroke: black;
  stroke-width: 1; }

/*# sourceMappingURL=chart.css.map */
